<div class="container">
    
    <h5 class="cust">Customer List</h5>
 <app-count [all]="getTotalCount()"></app-count>
 <br>
 <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="search">
    <!-- <input type="text" class="form-control" placeholder="Search Here"
        [value]="terms"
        (click)="takeInput($event)"> -->

</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            <th>Gender</th>
            <th>City</th>
            </tr>
        </thead>
<tbody>
    <tr *ngFor="let customer of customers | filter:search">
        <td>{{customer.name | customerTitle:customer.gender}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.city}}</td>
    </tr>
</tbody>
    </table>

</div>
