.l-title{
text-align: center;
background-color: lightskyblue;
}
/* {
    background-image: url(/assets/img/b1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
     margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    margin-right: 20%;
}