
    <div class="row">
    <div class="card">
        <h5 class="card-title">Customer Details</h5>
    
            <p class="card-text" [hidden]="isShow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, iure?</p>
      
        <button class="btn btn-primary" (click)="toggleDisplay()">Tell Me</button>
    </div>
    <div class="card">
        <h5 class="card-title">Customer Details</h5>
    
            <p class="card-text" [hidden]="isShow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, iure?</p>
      
        <button class="btn btn-primary" (click)="toggleDisplay()">Tell Me</button>
    </div>
    <div class="card">
        <h5 class="card-title">Customer Details</h5>
    
            <p class="card-text" [hidden]="isShow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, iure?</p>
      
        <button class="btn btn-primary" (click)="toggleDisplay()">Tell Me</button>
    </div>
</div>
<br>
<div>
    <span class="radioClass">Show : </span>

<input type="radio" name="options" />
<span class="radioClass">{{"All(" + all + ")"}}</span>
</div>


