
<app-header></app-header>
<!-- <div class="container">
    <h1>A Reactive Forms </h1>
  
<form [formGroup]="form" (ngSubmit)="submit()">
      
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="fname.name.touched && fname.name.invalid" class="alert alert-danger">
            name is required
           <div *ngIf="fname.required && fname.minlength" class="alert alert-danger"></div>
         <div *ngIf="fname.name.errors.minlength">Name should be 3 character.</div> 
        </div>
    </div>
   
    <div class="form-group">
        <label for="email">Email</label>
        <input 
            formControlName="email"
            id="email" 
            name="email"
            type="text" 
            class="form-control">
        <div  *ngIf="femail.email.touched && femail.email.invalid"  class="alert alert-danger">
            email is required
        </div>
        
    </div>
   
    <div class="form-group">
        <label for="body">Body</label>
        <textarea 
            formControlName="body"
            id="body" 
            type="text" 
            class="form-control">
        </textarea>
       
    </div>
  
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div> -->
